
     <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12" >
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">
                    <h3>Stories</h3>
                    @Html.ActionLink("Add Story", "InsertStory", "Register","",
                                    new { name = "link", style = "color : white" })
                    <i class="fa fa-arrow-circle-right"></i>
                </span>

            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

            <div class="info-box-content">
                <span class="info-box-text"><h3>Done</h3></span>
         
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

            <div class="info-box-content">
                <span class="info-box-text"><h3>In Progress</h3></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text"><h3>Not Started</h3></span>

            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>   
                @{int i=0; }

                @foreach (var st in ViewBag.Stories)
                {
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h4>@st.storyName</h4>

                                    <p>@st.storyDeadline</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                    @Html.ActionLink("Add Task", "InsertTask", "Register", new { storyId = st.storyId },
                                    new {name = "link", style = "color : white;font-size:20px;padding:8px;" })
                                    <i class="fa fa-arrow-circle-right"></i>                       
                            </div>
                        </div>
                    for (i = 3; i >= 1; i--)
                    {
                   

                            <div class="col-lg-3 col-xs-6">
                                <div class="task">

                                @foreach (var tk in ViewBag.Tasks)
                                {
                                    if (tk.storyId == st.storyId)
                                    {
                                        if (tk.categoryId == i)
                                        {
                                                        <div class="box box-primary" style="height:150px;">                         
                                                            <!-- /.box-header -->
                                                            <div class="box-body" style="height:100px;">
                                                                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                                                                <ul class="todo-list" style="height:150px;margin:0px;padding:1px;">
                                                                    <li>
                                                                        <!-- drag handle -->
                                                                        <span class="handle">
                                                                            <i class="fa fa-ellipsis-v"></i>
                                                                            <i class="fa fa-ellipsis-v"></i>
                                                                        </span>
                                                                        <!-- todo text -->
                                                                        <span class="text taskName" style="font-size:17px;">@tk.taskName</span><br/>
                                                                        <!-- Emphasis label -->
                                                                        <small class="label label-danger"><i class="fa fa-clock-o"></i> @tk.Working.name @tk.Working.surname </small>
                                                                        <small class="label label-danger"><i class="fa fa-clock-o"></i> @tk.taskDeadline </small>

                                                                        <!-- General tools such as edit or delete-->
                                                                        <div class="tools">
                                                                            <i class="fa fa-edit"></i>
                                                                            <i class="fa fa-trash-o"></i>
                                                                        </div>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                            <!-- /.box-body -->
                                                            <div class="box-footer clearfix no-border" >
                                                                <div class="form-group">
                                                                 <input type="radio" name="r3" class="category" categoryId="3" taskId="@tk.taskId" >
                                                                  <b style="font-size:15px;">Done</b> 
                                                                 <input type="radio" name="r3" class="category" categoryId="2" taskId="@tk.taskId">
                                                                 <b style="font-size:15px;">In Progress</b>
                                                                 <input type="radio" name="r3" class="category" categoryId="1" taskId="@tk.taskId">
                                                                 <b style="font-size:15px;">Not Started</b>
                                                             </div>
                                                        </div>
                                                     </div>
                                        }

                                    }
                                }
                                </div>
                        }
                        </div>
                        <hr style="border-width:5px;"/>
               }




            @section indexScript{
<script src="~/Content/jquery-ui.js"></script>
                <script src="~/Content/bower_components/fastclick/lib/fastclick.js"></script>
                <script src="~/Content/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
                <!-- jvectormap  -->
                <script src="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
                <script src="~/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
                <!-- SlimScroll -->
                <script src="~/Content/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
                <!-- ChartJS -->
                <script src="~/Content/bower_components/Chart.js/Chart.js"></script>
                <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
                <script src="~/Content/dist/js/pages/dashboard2.js"></script>
                <!-- AdminLTE for demo purposes -->
                <script src="~/Content/dist/js/demo.js"></script>
                
                <script type="text/javascript">
                    $(function () {

                        $(".category").click(function () {
                            var taskId=$(this).attr('taskId');
                            var categoryId = $(this).attr('categoryId');
                          
                            $.ajax({
                                type: 'POST',
                                url: '/Home/UpdateTaskCategory',
                                data: { taskId: taskId, categoryId: categoryId},
                                success: function () {
                                }
                            });
                            location.reload();
                        });

                      
                    });
                </script>
            }

